:root {
  // brand
  --brand--color: #00b533;

  // colors
  --white: #ffffff;
  --default: #dfe3e8;
  --dark--default: #c4cdd5;
  --dark: #002930;
  --green: #00b533;
  --dark--green: #007b55;
  --info: #1890ff;
  --primary: #0c53b7;
  --success: #30C062;
  --dark--success: #229a16;
  --warning: #ffc107;
  --dark--warning: #b78103;
  --danger: #ff4842;
  --dark--danger: #b72136;

  //text
  --text: #002930;
  --text--disable: #919eab;

  // hover
  --defult--hover: #f1f3f5;
  --green--hover: #e5f4ee;
  --info--hover: #e7f2fb;
  --success--hover: #ecf7ea;
  --warning--hover: #f9f5e7;
  --danger--hover: #f9ecec;

  // border
  --border--navbar: #919eab24;

  //shadow



  // Icon
  --icon--default: #637381;
  --icon--disable: #a6b0bb;
  --icon--dark: #002930;
  --icon--wrapper--bg: #f1f3f5;
  --icon--wrapper--bg--green: #e5f4ee;
  --icon--wrapper--bg--info: #e7f2fb;
  --icon--wrapper--bg--success: #ecf7ea;
  --icon--wrapper--bg--warning: #f9f5e7;
  --icon--wrapper--bg--danger: #f9ecec;




}
